.blue-body {
  background-color: #3C4E5A;
  min-height: 100%;
}

.township-details-image {
  height: 256 !important; 
  width: 256 !important;
  position: "relative" !important;
  right: 0px !important;
  display: block !important;
  margin-left: auto !important;
}

.image-upload-button {
    color: #fff;
    position: absolute;
    bottom: 20;
    right: 24;
}

.image-upload-text {
  background-color: rgba(45, 182, 61, 0.3);
}

.image-upload-crop {
  border: 1px solid green;
}

.uploader-wrapper {
  height: 4000px !important;
}

.tab-bar {
  position: absolute;
  margin-top: 55px;
  height: 40px;
  line-height: 38px !important;
  margin-right: 5px !important;
}

.tab-bar-icons {
  line-height: 38px !important;
  margin-right: 5px !important;
  font-size: 20px !important;
}

.tab-bar-link {
  height: 38px !important;
}

.township-content-width {
  min-width: 300px;
  max-width: 1400px;
  margin-top: 10px;
}


.township-list-container {
  min-height: 0px;
  max-height: 545px;
  overflow-y: auto;
  cursor: pointer;
  background-color: #FFF;

}

.township-details-container {
  min-height: 100px;
  max-height: 280px;
  overflow-y: scroll;
}

.township-edit-container {
  min-height: 100px;
  max-height: 325px;
  overflow-y: scroll;
}

.admin-card-panel {
  min-height: 600px;
  max-height: 600px;
  width: 100%;
}

.admin-circle {
  width: 50px;
  height: 50px;
}

.btn {
  background-color: #6B99C2;
}

.btn:hover {
  color: #FFF;
  background-color: #6B99C2;
}

.btn-green {
  background-color: #2DB63D;
}

.btn-green:hover {
  color: #FFF;
  background-color: #2DB63D;
}

.btn-yellow {
  background-color: #EAB41C;
}

.btn-yellow:hover {
  color: #FFF;
  background-color: #EAB41C;
}

.btn-green:hover {
  color: #FFF;
  background-color: #2DB63D;
}

.admin-tile {
  height: 175px;
  width: 440px;
  background-color: #6B99C2;
  margin-bottom: 30px;
}

.admin-tile:hover {
  background-color: #6B99C2;
}


.admin-tile i {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 100px;
}

.admin-tile h4 {
  font-weight: bold;
  text-transform: none;
}

.collection a.collection-item{
  color: #3F3333;
}

.card-title {
  font-size: 50px !important;
  background-color: rgba(107, 153, 194, 0.3);
}

.marginless-row {
  margin: 0px;
}

.input:focus {
  border: 0px !important;
  box-shadow: 0px !important;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: 0 0px 0 0 #FFF;
}

.clickable {
  cursor: pointer;
}
