.blue-body {
  background-color: #3C4E5A;
  min-height: 120%;
}

.form-required {
  color: red;
}

.township-details-image {
  height: 256 !important; 
  width: 256 !important;
  position: "relative" !important;
  right: 0px !important;
  display: block !important;
  margin-left: auto !important;
}

.image-upload-button {
  color: #fff;
  position: absolute;
  bottom: 20;
  right: 24;
  z-index: 1 !important;
}


.image-upload-text {
  background-color: rgba(45, 182, 61, 0.3);
  padding: 5px;
}

.image-upload-crop {
  border: 1px solid green;
}

.uploader-wrapper {
  height: 4000px !important;
}

.tab-bar {
  position: fixed;
  z-index: 50;
  margin-top: 52px;
  height: 40px;
  line-height: 38px !important;
  margin-right: 5px !important;
}

.tab-bar-icons {
  line-height: 38px !important;
  margin-right: 5px !important;
  font-size: 20px !important;
}

.tab-bar-link {
  height: 38px !important;
}

.township-content-width {
  min-width: 300px;
  max-width: 1400px;
  margin-top: 10px;
}


.township-userlist-container {
  min-height: 0px;
  max-height: 500px !important;
  overflow-y: auto !important;
  cursor: pointer;
  background-color: #FFF;

}

.township-permitrequests-container {
  min-height: 0px;
  max-height: 600px !important;
  overflow-y: auto !important;
  cursor: pointer;
  background-color: #FFF;

}

.township-list-container {
  min-height: 0px;
  max-height: 545px;
  overflow-y: auto;
  cursor: pointer;
  background-color: #FFF;

}

.township-details-container {
  min-height: 100px;
  max-height: 280px;
  overflow-y: scroll;
}

.township-edit-container {
  min-height: 100px;
  max-height: 325px;
  overflow-y: scroll;
}

.admin-card-panel {
  min-height: 600px;
  max-height: 600px;
  width: 100%;
}

.admin-circle {
  width: 50px;
  height: 50px;
}

.btn {
  background-color: #6B99C2;
}

.btn:hover {
  color: #FFF;
  background-color: #6B99C2;
}

.btn-green {
  background-color: #2DB63D;
}

.btn-green:hover {
  color: #FFF;
  background-color: #2DB63D;
}

.btn-yellow {
  background-color: #EAB41C;
}

.btn-yellow:hover {
  color: #FFF;
  background-color: #EAB41C;
}

.btn-red {
  background-color: #D9534F;
}

.btn-red:hover {
  color: #FFF;
  background-color: #D9534F;
}

.admin-tile {
  height: 175px;
  width: 440px;
  background-color: #6B99C2;
  margin-bottom: 30px;
  border-radius: 50px !important;
}

.admin-tile:hover {
  background-color: #6B99C2;
}


.admin-tile i {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 100px;
}

.admin-tile h4 {
  font-weight: bold;
  text-transform: none;
}

.collection a.collection-item{
  color: #3F3333;
}

.card-title {
  font-size: 50 !important;
  width: calc(100% - 256px) !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

.marginless-row {
  margin: 0px;
}

.input:focus {
  border: 0px !important;
  box-shadow: 0px !important;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: 0 0px 0 0 #FFF;
}

.clickable {
  cursor: pointer;
}

.traditional-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.traditional-tabs > :not(.traditional-tabs-panel) {
    white-space: normal;
}

.traditional-tabs:after {
    clear: both;
    content: '';
    display: table;
}

.traditional-tabs-panel {
    display: inline;
    margin: 0;
    padding: 0;
}

.traditional-tabs-title {
    background: #EBEBEB;
    color: #363636;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
}

.traditional-tabs-title--between,
.traditional-tabs-title--last {
    border-left: 1px solid #D2D2D2;
}

.traditional-tabs-title--first {
    border-top-left-radius: 3px;
}

.traditional-tabs-title--last {
    border-top-right-radius: 3px;
}

.traditional-tabs-title--checked {
    background: #FAFAFA;
}

.traditional-tabs-content {
    background: #FAFAFA;
    border-radius: 0 3px 3px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #363636;
    display: none;
    float: left;
    overflow: hidden;
    padding: 0 1em;
    white-space: normal;
    width: 100%;
}

.traditional-tabs-content--checked {
    display: block;
}

input:not([type]), 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search], 
textarea.materialize-textarea {
  max-width: 250px;
  min-width: 250px;
  display: block;
}

.admin-form-input {
  min-width: 300px !important;
  margin-bottom: 20px;
}